@import "tailwindcss";

@theme {
  --color-brand-dark: #121212;
  --color-brand-light: #F9F9F9;
  --color-brand-accent: #0A369D;
  --color-brand-secondary: #7F8C8D;

  /* Integrasi Font Baru ala Retail Menswear */
  --font-display: var(--font-inter), sans-serif;
  --font-sans: var(--font-jakarta), sans-serif;
}

/* KUNCI ANIMASI MARQUEE TANPA PUTUS */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } /* Diubah ke -50% agar transisinya looping sempurna dengan duplikatnya */
}

.animate-marquee {
  animation: marquee 20s linear infinite; /* Kecepatan 20 detik biar pas, gak kelambatan */
}

/* Pengaturan Dasar Layout */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
}